<footer>
  <div class="content">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="pure-menu-link">rss</a></li>
        <li class="pure-menu-item"><a href="https://github.com/{{ site.github_username }}" class="pure-menu-link">github</a></li>
        <li class="pure-menu-item"><a href="https://twitter.com/{{ site.twitter_username }}" class="pure-menu-link">twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
