<header>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="nav-menu pure-menu">
        <div class="pure-menu-header-wrapper">
          <a class="pure-menu-heading pure-menu-link" href="{{ site.baseurl }}/">MyPaint</a>
        </div>

        <div>
          <ul class="pure-menu-list pure-menu-horizontal">
            <li class="pure-menu-item"><a href="/about/" class="pure-menu-link">about</a></li>
            <li class="pure-menu-item"><a href="/downloads/" class="pure-menu-link">downloads</a></li>
            <li class="pure-menu-item"><a href="/blog/" class="pure-menu-link">blog</a></li>
            <li class="pure-menu-item"><a href="http://community.mypaint.org" class="pure-menu-link">community</a></li>
            <li class="pure-menu-item"><a href="/join/" class="pure-menu-link">get involved</a></li>
            <li class="pure-menu-item"><a href="https://github.com/mypaint/mypaint/wiki/Documentation" class="pure-menu-link">docs</a></li>
            <li class="pure-menu-item"><a href="https://github.com/mypaint/mypaint/wiki/Community-and-Contacts" class="pure-menu-link">contact</a></li>
          </ul>
        </div>

      </div>
    </div>
</header>
