/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

html,
body {
    line-height: 1.7em;
    color: $font-color-primary;
    margin: 0;
    padding: 0;
    height: 100%
}


a {
    color: $accent-secondary;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: $header-color;
    font-family: "courier new", monospace;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 1.4em;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
  font-family: serif;
}

#wrapper {
   min-height:100%;
   position:relative;
}
#header {
  padding:10px;
}
#content {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height: auto;   /* Height of the footer */
}

.description {
  font-size: 120%;
  line-height: 2em;
}

.pure-g {
  letter-spacing: normal;
  line-height: 1.7em;
}


article {
    font-family: $font-reading;
    line-height: 2em;
}

/*
 * -- LAYOUT STYLES --
 */

.posts {
  margin: 30px 0;
}

.post {
  margin: 30px 0;
}

.l-box {
  padding: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 */

 .headline {
   .pure-button {
     margin-top: 20px;
   }
 }

.article-title {
  h3 {
    display: inline;
    margin-right: 15px;
    font-family: sans-serif;
    color: $font-color-primary;
    font-weight: 500;
  }

  .post-date {
    white-space: nowrap;
    font-size: 14px;
    font-family: sans-serif;
    color: $font-color-secondary;
  }
}

.pure-button {
    background: $button-color;
    padding: 0.5em 2em;
}

.pure-button:hover {
    background: darken($button-color, 10%);
    color: white;
}

a.pure-button-primary {
    font-size: 120%;
    text-decoration: none;
}


/*
 * -- MENU STYLES --
 */

 .nav-icon {
 	  max-width: 211px;
 	  display: flex;
 }

.nav-menu {
    position: relative;
    transition: height 0.5s;
    -webkit-font-smoothing: antialiased;
    z-index: 1000;
    display: flex;
    float: right;
    justify-content: space-between;
    flex-wrap: wrap;

    .pure-menu-horizontal {
      white-space: normal;
    }
}

.nav-menu a {
    color: $accent-secondary;
}
.nav-menu li a:hover,
.nav-menu li a:focus,
.nav-menu a:hover {
    background: none;
    border: none;
    color: darken($accent-secondary, 30%);
}

.pure-menu-header-wrapper {
    order: 0;
}

/*
 * -- HEADER/HEADLINE STYLES --
 */

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    background: lighten($accent-primary, 30%);
    height: 500px;
    width: 100%;
    z-index: -1; /* Don't know why, but it was causing problems. */
}

.headline {
  margin-top: 100px;
}


.headline {
    .pure-button {
        background: none;
        color: $button-color;
        border: 2px solid $button-color;
    }

    .pure-button:hover {
        background: $accent-secondary;
        color: white;
        text-decoration: none;
        border: 2px solid $accent-secondary;
    }
}

/*
 * -- CONTENT STYLES --
 */

/* We want to give the content area some more padding */
.content {
    max-width: 900px;
    margin: auto;
    position: absolute;;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 1000;

    a:hover,
    a:focus,
    a:hover {
        text-decoration: underline;
    }
}

/*
 * -- FOOTER STYLES --
 */

footer {
  background-color: $accent-primary;
  color: white;

  .pure-menu a {
      color: white;
  }
  .pure-menu li a:hover,
  .pure-menu li a:focus,
  .pure-menu li a:hover {
      background: none;
      border: none;
      color: $font-color-secondary;
      text-decoration: none;
  }
}

/*
 * -- MOBILE/smol --
 * -- Purecss sm (568px) --
 */
@media screen and (max-width: 35.5em) {
    .l-box {
        padding: 1em;
    }

    .pure-menu-header-wrapper {
      margin-top: 20px;
      order: 1;
      font-size: 120%;
    }

   .headline {
     .pure-button {
       margin-top: 0;
     }
   }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * -- Purecss md (768px) --
 */
@media screen and (max-width: 48em) {

  .headline {
    margin-bottom: 100px;
  }

  .content {
    padding: 2em;
  }

  .pure-menu {
    text-align: center;
  }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * -- Purecss lg (1024px) --
 */
@media screen and (max-width: 64em) {


  .l-box {
      padding: 1em;

      h3 {
        margin-top: 0;
      }
  }

  .pure-menu-horizontal {
      padding: 8px;

      .pure-menu-item {
          display: inline-flex;
          a {
            padding: 0;
          }
          &:after {
            content: "|";
            padding: 0 8px;
            color: $font-color-secondary;
          }
      }

  }

  .pure-menu-horizontal {
    .pure-menu-item {
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }

  div.pure-u-1 {
      &:first-child {
        .l-box {
          padding-left: 0;
        }
      }
      &:last-child {
        .l-box {
          padding-right: 0;
        }
      }
  }
}

/*
 * -- Super Wide Screens --
 * -- Purecss xl (1280px) --
 */
 @media screen and (max-width: 80em) {

 }
