@charset "utf-8";

$accent-primary:        #42bbff;
$accent-secondary:      #1f8dd6;

$font-color-primary:    #333;
$font-color-secondary:  lighten($font-color-primary, 15%);

$button-color:          $accent-primary;
$header-color:          $font-color-secondary;

// base, buttons, grids, grids-responsive, menus
@import "pure";
@import "everything"
