---
layout: page
---
<article>

<header class="post-header">
  <p class="post-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>

<div class="post">

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.comments %}
  <div class="comments">
    <div id="discourse-comments"></div>

      <script type="text/javascript">
        DiscourseEmbed = { discourseUrl: 'http://community.mypaint.org/',
                           {% if page.discourseID %}topicId: {{page.discourseID}}
                           {% else %}discourseEmbedUrl: '{{site.url}}{{page.url}}'{% endif %} };

        (function() {
          var d = document.createElement('script');
          d.type = 'text/javascript';
          d.async = true;
          d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
      </script>
    {% else %}
      <div id="no-comments">
        <p> Discourse Comments Disabled </p>
      </div>
    {% endif %}
  </div>
</div>
</article>
